<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".Globalclass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Somras"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Viewcategory"
            android:exported="false" />
        <activity
            android:name=".History_view"
            android:exported="false" />
        <activity
            android:name=".Orderhistory"
            android:exported="false" />
        <activity
            android:name=".Order"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="true" />
        <activity
            android:name=".Viewproduct"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="true" />
        <activity
            android:name=".Recycle"
            android:exported="true" />
        <activity
            android:name=".ProductView"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="true" />
        <activity
            android:name=".Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>